body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

header {
    background-color: #ffffff;
    color: #000;
    padding: 1rem;
    text-align: center;
    display: block;
}

header nav{
    color: #101ee1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav a {
    text-decoration: none;
    padding: 10px 15px;
}

.sections section {
    top: 0;
    left: 0;
    width: 100%;
  }
  

h1, h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

footer {
    text-align: center;
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: #000;
}